
streamlit
langchain
langchain-community
langchain-openai
faiss-cpu
sentence-transformers
openai
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
